@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "./reset.scss";
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: inherit; 
    background-color: #f8f8fc;
  }
}
.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
input::-webkit-input-placeholder {
  color: #b2b3bd;
}
input::-moz-input-placeholder {
  color: #b2b3bd;
}

// css checkbox
.custom-checkbox-square {
  width: 25px;
  height: 25px;
}
.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div div > svg {
  display: block;
  color: white;
}

.clock {
  background-image: linear-gradient(to right bottom, #1dc071, #a4d96c);
}